project/target/config-classes/$9a9f5266de975a09255d.cache
project/target/config-classes/
target/streams/
project/project/target/config-classes/
project/target/scala-2.12/sbt-1.0/
project/target/streams/
target/scala-2.12/classes/
target/scala-2.12/resolution-cache/
.idea/workspace.xml
